---
import Navbar from "../components/Navbar.astro"
const { title } = Astro.props;

import "../styles/main.min.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <!-- Navbar -->
    <Navbar/>
    <slot />
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>